pytest
pytest-asyncio
pytest-mock
httpx
respx
moto[secretsmanager,s3,ecs,logs,cloudwatch,dynamodb,lambda]
boto3
fastapi
tortoise-orm
mangum
pydantic
pymysql
dataset
requests
pandas
numpy
beautifulsoup4
lxml
tiktoken
openai
nltk
trafilatura
playwright
